terraform-scripts/main.tf                                       @quarkiverse/quarkiverse-owners
terraform-scripts/quarkus-amazon-alexa.tf                       @quarkiverse/quarkiverse-amazon-alexa
terraform-scripts/quarkus-amazon-services.tf                    @quarkiverse/quarkiverse-amazon-services
terraform-scripts/quarkus-antivirus.tf                          @quarkiverse/quarkiverse-antivirus
terraform-scripts/quarkus-antora.tf                             @quarkiverse/quarkiverse-antora
terraform-scripts/quarkus-angus-mail.tf                         @quarkiverse/quarkiverse-angus-mail
terraform-scripts/quarkus-apistax.tf                            @quarkiverse/quarkiverse-apistax
terraform-scripts/quarkus-arangodb-client.tf                    @quarkiverse/quarkiverse-arangodb-client
terraform-scripts/quarkus-artemis.tf                            @quarkiverse/quarkiverse-artemis
terraform-scripts/quarkus-arthas.tf                             @quarkiverse/quarkiverse-arthas
terraform-scripts/quarkus-asyncapi.tf                           @quarkiverse/quarkiverse-asyncapi
terraform-scripts/quarkus-authzed-client.tf                     @quarkiverse/quarkiverse-authzed-client
terraform-scripts/quarkus-azure-services.tf                     @quarkiverse/quarkiverse-azure-services
terraform-scripts/quarkus-bon-jova-rockstar.tf                  @quarkiverse/quarkiverse-bon-jova-rockstar
terraform-scripts/quarkus-bucket4j.tf                           @quarkiverse/quarkiverse-bucket4j
terraform-scripts/quarkus-business-score.tf                     @quarkiverse/quarkiverse-business-score
terraform-scripts/quarkus-cert-manager.tf                       @quarkiverse/quarkiverse-cert-manager
terraform-scripts/quarkus-code-server.tf                        @quarkiverse/quarkiverse-code-server
terraform-scripts/quarkus-config-extensions.tf                  @quarkiverse/quarkiverse-config-extensions
terraform-scripts/quarkus-cucumber.tf                           @quarkiverse/quarkiverse-cucumber
terraform-scripts/quarkus-cxf.tf                                @quarkiverse/quarkiverse-cxf
terraform-scripts/quarkus-dapr.tf                               @quarkiverse/quarkiverse-dapr
terraform-scripts/quarkus-dashbuilder.tf                        @quarkiverse/quarkiverse-dashbuilder
terraform-scripts/quarkus-discord4j.tf                          @quarkiverse/quarkiverse-discord4j
terraform-scripts/quarkus-doma.tf                               @quarkiverse/quarkiverse-doma
terraform-scripts/quarkus-easy-retrofit.tf                      @quarkiverse/quarkiverse-easy-retrofit
terraform-scripts/quarkus-eddi.tf                               @quarkiverse/quarkiverse-eddi
terraform-scripts/quarkus-embedded-postgresql.tf                @quarkiverse/quarkiverse-embedded-postgresql
terraform-scripts/quarkus-file-vault.tf                         @quarkiverse/quarkiverse-file-vault
terraform-scripts/quarkus-freemarker.tf                         @quarkiverse/quarkiverse-freemarker
terraform-scripts/quarkus-fx.tf                                 @quarkiverse/quarkiverse-fx
terraform-scripts/quarkus-github-api.tf                         @quarkiverse/quarkiverse-github-api
terraform-scripts/quarkus-github-action.tf                      @quarkiverse/quarkiverse-github-action
terraform-scripts/quarkus-github-app.tf                         @quarkiverse/quarkiverse-github-app
terraform-scripts/quarkus-google-cloud-services.tf              @quarkiverse/quarkiverse-google-cloud-services
terraform-scripts/quarkus-groovy.tf                             @quarkiverse/quarkiverse-groovy
terraform-scripts/quarkus-helm.tf                               @quarkiverse/quarkiverse-helm
terraform-scripts/quarkus-hibernate-search-extras.tf            @quarkiverse/quarkiverse-hibernate-search-extras
terraform-scripts/quarkus-hibernate-types.tf                    @quarkiverse/quarkiverse-hibernate-types
terraform-scripts/quarkus-hivemq-client.tf                      @quarkiverse/quarkiverse-hivemq-client
terraform-scripts/quarkus-homeassistant.tf                      @quarkiverse/quarkiverse-homeassistant
terraform-scripts/quarkus-itext.tf                              @quarkiverse/quarkiverse-itext
terraform-scripts/quarkus-jackson-jq.tf                         @quarkiverse/quarkiverse-jackson-jq
terraform-scripts/quarkus-jaeger.tf                             @quarkiverse/quarkiverse-jaeger
terraform-scripts/quarkus-jasperreports.tf                      @quarkiverse/quarkiverse-jasperreports
terraform-scripts/quarkus-jberet.tf                             @quarkiverse/quarkiverse-jberet
terraform-scripts/quarkus-jdbi.tf                               @quarkiverse/quarkiverse-jdbi
terraform-scripts/quarkus-jdbc-sqlite.tf                        @quarkiverse/quarkiverse-jdbc-sqlite
terraform-scripts/quarkus-jdbc-clickhouse.tf                    @quarkiverse/quarkiverse-jdbc-clickhouse
terraform-scripts/quarkus-jef.tf                                @quarkiverse/quarkiverse-jef
terraform-scripts/quarkus-jgit.tf                               @quarkiverse/quarkiverse-jgit
terraform-scripts/quarkus-jgrapht.tf                            @quarkiverse/quarkiverse-jgrapht
terraform-scripts/quarkus-jjwt-jackson.tf                       @quarkiverse/quarkiverse-jjwt-jackson
terraform-scripts/quarkus-jmx.tf                                @quarkiverse/quarkiverse-jmx
terraform-scripts/quarkus-jnosql.tf                             @quarkiverse/quarkiverse-jnosql
terraform-scripts/quarkus-jooq.tf                               @quarkiverse/quarkiverse-jooq
terraform-scripts/quarkus-jpastreamer.tf                        @quarkiverse/quarkiverse-jpastreamer
terraform-scripts/quarkus-jsch.tf                               @quarkiverse/quarkiverse-jsch
terraform-scripts/quarkus-json-rpc.tf                           @quarkiverse/quarkiverse-json-rpc
terraform-scripts/quarkus-kafka-streams-processor.tf            @quarkiverse/quarkiverse-kafka-streams-processor
terraform-scripts/quarkus-kerberos.tf                           @quarkiverse/quarkiverse-kerberos
terraform-scripts/quarkus-kiota.tf                              @quarkiverse/quarkiverse-kiota
terraform-scripts/quarkus-kubevirt.tf                           @quarkiverse/quarkiverse-kubevirt
terraform-scripts/quarkus-langchain4j.tf                        @quarkiverse/quarkiverse-langchain4j
terraform-scripts/quarkus-logging-cloudwatch.tf                 @quarkiverse/quarkiverse-logging-cloudwatch
terraform-scripts/quarkus-logging-kafka.tf                      @quarkiverse/quarkiverse-logging-kafka
terraform-scripts/quarkus-logging-json.tf                       @quarkiverse/quarkiverse-logging-json
terraform-scripts/quarkus-logging-logback.tf                    @quarkiverse/quarkiverse-logging-logback
terraform-scripts/quarkus-logging-manager.tf                    @quarkiverse/quarkiverse-logging-manager
terraform-scripts/quarkus-logging-sentry.tf                     @quarkiverse/quarkiverse-logging-sentry
terraform-scripts/quarkus-logging-splunk.tf                     @quarkiverse/quarkiverse-logging-splunk
terraform-scripts/quarkus-lucene.tf                             @quarkiverse/quarkiverse-lucene
terraform-scripts/quarkus-mailpit.tf                            @quarkiverse/quarkiverse-mailpit
terraform-scripts/quarkus-maven-resolver.tf                     @quarkiverse/quarkiverse-maven-resolver
terraform-scripts/quarkus-mfa.tf                                @quarkiverse/quarkiverse-mfa
terraform-scripts/quarkus-micrometer-registry.tf                @quarkiverse/quarkiverse-micrometer-registry
terraform-scripts/quarkus-microprofile.tf                       @quarkiverse/quarkiverse-microprofile
terraform-scripts/quarkus-minio.tf                              @quarkiverse/quarkiverse-minio
terraform-scripts/quarkus-mockk.tf                              @quarkiverse/quarkiverse-mockk
terraform-scripts/quarkus-mockerver.tf                          @quarkiverse/quarkiverse-mockserver
terraform-scripts/quarkus-moneta.tf                             @quarkiverse/quarkiverse-moneta
terraform-scripts/quarkus-mongock.tf                            @quarkiverse/quarkiverse-mongock
terraform-scripts/quarkus-morphia.tf                            @quarkiverse/quarkiverse-morphia
terraform-scripts/quarkus-mybatis.tf                            @quarkiverse/quarkiverse-mybatis
terraform-scripts/quarkus-nagios.tf                             @quarkiverse/quarkiverse-nagios
terraform-scripts/quarkus-neo4j.tf                              @quarkiverse/quarkiverse-neo4j
terraform-scripts/quarkus-ngrok.tf                              @quarkiverse/quarkiverse-ngrok
terraform-scripts/quarkus-oidc-proxy.tf                         @quarkiverse/quarkiverse-oidc-proxy
terraform-scripts/quarkus-omnifaces.tf                          @quarkiverse/quarkiverse-omnifaces
terraform-scripts/quarkus-openapi-generator.tf                  @quarkiverse/quarkiverse-openapi-generator
terraform-scripts/quarkus-opencv.tf                             @quarkiverse/quarkiverse-opencv
terraform-scripts/quarkus-openfga-client.tf                     @quarkiverse/quarkiverse-openfga-client
terraform-scripts/quarkus-opensearch.tf                         @quarkiverse/quarkiverse-opensearch
terraform-scripts/quarkus-opentelemetry-exporter.tf             @quarkiverse/quarkiverse-opentelemetry-exporter
terraform-scripts/quarkus-operator-sdk.tf                       @quarkiverse/quarkiverse-operator-sdk
terraform-scripts/quarkus-pact.tf                               @quarkiverse/quarkiverse-pact
terraform-scripts/quarkus-pdfbox.tf                             @quarkiverse/quarkiverse-pdfbox
terraform-scripts/quarkus-pinot.tf                              @quarkiverse/quarkiverse-pinot
terraform-scripts/quarkus-playwright.tf                         @quarkiverse/quarkiverse-playwright
terraform-scripts/quarkus-poi.tf                                @quarkiverse/quarkiverse-poi
terraform-scripts/quarkus-pooled-jms.tf                         @quarkiverse/quarkiverse-pooled-jms
terraform-scripts/quarkus-prettytime.tf                         @quarkiverse/quarkiverse-prettytime
terraform-scripts/quarkus-primefaces.tf                         @quarkiverse/quarkiverse-primefaces
terraform-scripts/quarkus-pusher-beams.tf                       @quarkiverse/quarkiverse-pusher-beams
terraform-scripts/quarkus-quinoa.tf                             @quarkiverse/quarkiverse-quinoa
terraform-scripts/quarkus-qute-web.tf                           @quarkiverse/quarkiverse-qute-web
terraform-scripts/quarkus-rabbitmq-client.tf                    @quarkiverse/quarkiverse-rabbitmq-client
terraform-scripts/quarkus-reactive-h2-client                    @quarkiverse/quarkiverse-reactive-h2-client
terraform-scripts/quarkus-reactive-mysql-pool-client            @quarkiverse/quarkiverse-reactive-mysql-pool-client
terraform-scripts/quarkus-reactive-messaging-http.tf            @quarkiverse/quarkiverse-reactive-messaging-http
terraform-scripts/quarkus-reactive-messaging-nats-jetstream.tf  @quarkiverse/quarkiverse-reactive-messaging-nats-jetstream
terraform-scripts/quarkus-renarde.tf                            @quarkiverse/quarkiverse-renarde
terraform-scripts/quarkus-roq.tf                                @quarkiverse/quarkiverse-roq
terraform-scripts/quarkus-rsocket.tf                            @quarkiverse/quarkiverse-rsocket
terraform-scripts/quarkus-sa-token.tf                           @quarkiverse/quarkiverse-sa-token
terraform-scripts/quarkus-scala3.tf                             @quarkiverse/quarkiverse-scala
terraform-scripts/quarkus-semantic-kernel.tf                    @quarkiverse/quarkiverse-semantic-kernel
terraform-scripts/quarkus-shardingsphere-jdbc.tf                @quarkiverse/quarkiverse-shardingsphere-jdbc
terraform-scripts/quarkus-shedlock.tf                           @quarkiverse/quarkiverse-shedlock
terraform-scripts/quarkus-smallrye-opentracing.tf               @quarkiverse/quarkiverse-smallrye-opentracing
terraform-scripts/quarkus-snappy.tf                             @quarkiverse/quarkiverse-snappy
terraform-scripts/quarkus-sshd.tf                               @quarkiverse/quarkiverse-sshd
terraform-scripts/quarkus-systemd-notify.tf                     @quarkiverse/quarkiverse-systemd-notify
terraform-scripts/quarkus-tekton-client.tf                      @quarkiverse/quarkiverse-tekton-client
terraform-scripts/quarkus-tika.tf                               @quarkiverse/quarkiverse-tika
terraform-scripts/quarkus-togglz.tf                             @quarkiverse/quarkiverse-togglz
terraform-scripts/quarkus-unleash.tf                            @quarkiverse/quarkiverse-unleash
terraform-scripts/quarkus-vault.tf                              @quarkiverse/quarkiverse-vault
terraform-scripts/quarkus-web-bundler.tf                        @quarkiverse/quarkiverse-web-bundler
terraform-scripts/quarkus-wiremock.tf                           @quarkiverse/quarkiverse-wiremock
terraform-scripts/quarkus-zanzibar.tf                           @quarkiverse/quarkiverse-zanzibar
terraform-scripts/quarkus-zeebe.tf                              @quarkiverse/quarkiverse-zeebe
terraform-scripts/quarkus-zookeeper-client.tf                   @quarkiverse/quarkiverse-zookeeper-client
