main.tf                                     @quarkiverse/quarkiverse-owners
quarkus-amazon-alexa.tf                     @quarkiverse/quarkiverse-amazon-alexa
quarkus-amazon-services.tf                  @quarkiverse/quarkiverse-amazon-services
quarkus-apistax.tf                          @quarkiverse/quarkiverse-apistax
quarkus-artemis.tf                          @quarkiverse/quarkiverse-artemis
quarkus-arthas.tf                           @quarkiverse/quarkiverse-arthas
quarkus-authzed-client.tf                   @quarkiverse/quarkiverse-authzed-client
quarkus-azure-services.tf                   @quarkiverse/quarkiverse-azure-services
quarkus-cert-manager.tf                     @quarkiverse/quarkiverse-cert-manager
quarkus-config-extensions.tf                @quarkiverse/quarkiverse-config-extensions
quarkus-cucumber.tf                         @quarkiverse/quarkiverse-cucumber
quarkus-cxf.tf                              @quarkiverse/quarkiverse-cxf
quarkus-dapr.tf                             @quarkiverse/quarkiverse-dapr
quarkus-datadog-opentracing.tf              @quarkiverse/quarkiverse-datadog-opentracing
quarkus-discord4j.tf                        @quarkiverse/quarkiverse-discord4j
quarkus-doma.tf                             @quarkiverse/quarkiverse-doma
quarkus-eddi.tf                             @quarkiverse/quarkiverse-eddi
quarkus-elasticsearch-reactive.tf           @quarkiverse/quarkiverse-elasticsearch-reactive
quarkus-file-vault.tf                       @quarkiverse/quarkiverse-file-vault
quarkus-freemarker.tf                       @quarkiverse/quarkiverse-freemarker
quarkus-github-api.tf                       @quarkiverse/quarkiverse-github-api
quarkus-github-action.tf                    @quarkiverse/quarkiverse-github-action
quarkus-github-app.tf                       @quarkiverse/quarkiverse-github-app
quarkus-google-cloud-services.tf            @quarkiverse/quarkiverse-google-cloud-services
quarkus-helm.tf                             @quarkiverse/quarkiverse-helm
quarkus-hibernate-search-extras.tf          @quarkiverse/quarkiverse-hibernate-search-extras
quarkus-hibernate-types.tf                  @quarkiverse/quarkiverse-hibernate-types
quarkus-hivemq-client.tf                    @quarkiverse/quarkiverse-hivemq-client
quarkus-jackson-jq.tf                       @quarkiverse/quarkiverse-jackson-jq
quarkus-jberet.tf                           @quarkiverse/quarkiverse-jberet
quarkus-jdbi.tf                             @quarkiverse/quarkiverse-jdbi
quarkus-jdbc-sqlite.tf                      @quarkiverse/quarkiverse-jdbc-sqlite
quarkus-jdbc-clickhouse.tf                  @quarkiverse/quarkiverse-jdbc-clickhouse
quarkus-jef.tf                              @quarkiverse/quarkiverse-jef
quarkus-jgit.tf                             @quarkiverse/quarkiverse-jgit
quarkus-jgrapht.tf                          @quarkiverse/quarkiverse-jgrapht
quarkus-jjwt-jackson.tf                     @quarkiverse/quarkiverse-jjwt-jackson
quarkus-jna.tf                              @quarkiverse/quarkiverse-jna
quarkus-jooq.tf                             @quarkiverse/quarkiverse-jooq
quarkus-jsch.tf                             @quarkiverse/quarkiverse-jsch
quarkus-kerberos.tf                         @quarkiverse/quarkiverse-kerberos
quarkus-logging-cloudwatch.tf               @quarkiverse/quarkiverse-logging-cloudwatch
quarkus-logging-kafka.tf                    @quarkiverse/quarkiverse-logging-kafka
quarkus-logging-json.tf                     @quarkiverse/quarkiverse-logging-json
quarkus-logging-logback.tf                  @quarkiverse/quarkiverse-logging-logback
quarkus-logging-manager.tf                  @quarkiverse/quarkiverse-logging-manager
quarkus-logging-sentry.tf                   @quarkiverse/quarkiverse-logging-sentry
quarkus-logging-splunk.tf                   @quarkiverse/quarkiverse-logging-splunk
quarkus-lucene.tf                           @quarkiverse/quarkiverse-lucene
quarkus-maven-resolver.tf                   @quarkiverse/quarkiverse-maven-resolver
quarkus-mfa.tf                              @quarkiverse/quarkiverse-mfa
quarkus-micrometer-registry.tf              @quarkiverse/quarkiverse-micrometer-registry
quarkus-microprofile.tf                     @quarkiverse/quarkiverse-microprofile
quarkus-minio.tf                            @quarkiverse/quarkiverse-minio
quarkus-mockk.tf                            @quarkiverse/quarkiverse-mockk
quarkus-mockserver.tf                       @quarkiverse/quarkiverse-mockserver
quarkus-morphia.tf                          @quarkiverse/quarkiverse-morphia
quarkus-mybatis.tf                          @quarkiverse/quarkiverse-mybatis
quarkus-neo4j.tf                            @quarkiverse/quarkiverse-neo4j
quarkus-ngrok.tf                            @quarkiverse/quarkiverse-ngrok
quarkus-omnifaces.tf                        @quarkiverse/quarkiverse-omnifaces
quarkus-openapi-generator.tf                @quarkiverse/quarkiverse-openapi-generator
quarkus-opencv.tf                           @quarkiverse/quarkiverse-opencv
quarkus-openfga-client.tf                   @quarkiverse/quarkiverse-openfga-client
quarkus-operator-sdk.tf                     @quarkiverse/quarkiverse-operator-sdk
quarkus-pinot.tf                            @quarkiverse/quarkiverse-pinot
quarkus-pooled-jms.tf                       @quarkiverse/quarkiverse-pooled-jms
quarkus-prettytime.tf                       @quarkiverse/quarkiverse-prettytime
quarkus-pusher-beams.tf                     @quarkiverse/quarkiverse-pusher-beams
quarkus-quinoa.tf                           @quarkiverse/quarkiverse-quinoa
quarkus-rabbitmq-client.tf                  @quarkiverse/quarkiverse-rabbitmq-client
quarkus-reactive-messaging-http.tf          @quarkiverse/quarkiverse-reactive-messaging-http
quarkus-renarde.tf                          @quarkiverse/quarkiverse-renarde
quarkus-rsocket.tf                          @quarkiverse/quarkiverse-rsocket
quarkus-sa-token.tf                         @quarkiverse/quarkiverse-sa-token
quarkus-scala3.tf                           @quarkiverse/quarkiverse-scala
quarkus-shardingsphere-jdbc.tf              @quarkiverse/quarkiverse-shardingsphere-jdbc
quarkus-tekton-client.tf                    @quarkiverse/quarkiverse-tekton-client
quarkus-tika.tf                             @quarkiverse/quarkiverse-tika
quarkus-togglz.tf                           @quarkiverse/quarkiverse-togglz
quarkus-univocity-parsers.tf                @quarkiverse/quarkiverse-univocity-parsers
quarkus-unleash.tf                          @quarkiverse/quarkiverse-unleash
quarkus-vault.tf                            @quarkiverse/quarkiverse-vault
quarkus-wiremock.tf                         @quarkiverse/quarkiverse-wiremock
quarkus-xmlsec.tf                           @quarkiverse/quarkiverse-xmlsec
quarkus-zanzibar.tf                         @quarkiverse/quarkiverse-zanzibar
quarkus-zeebe.tf                            @quarkiverse/quarkiverse-zeebe
quarkus-zookeeper-client.tf                 @quarkiverse/quarkiverse-zookeeper-client
